####################################
# Java
####################################
*.class
*.log
hs_err_pid*
replay_pid*

####################################
# Archiwa
####################################
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

####################################
# IntelliJ IDEA / JetBrains
####################################
.idea/
*.iml
*.ipr
*.iws
out/

####################################
# Gradle
####################################
.gradle/
**/build/
!**/src/**/build/
gradle-app.setting
.gradletasknamecache

# Gradle Wrapper (MUSI być w repo)
!gradle-wrapper.jar
!gradle-wrapper.properties

####################################
# Maven (jeśli używasz)
####################################
target/

####################################
# Eclipse (jeśli ktoś otworzy projekt w Eclipse)
####################################
.project
.classpath
.settings/

####################################
# CMake (jeśli używane)
####################################
cmake-build-*/

####################################
# Systemowe śmieci
####################################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
